.team h3{
	color: #fff;
    margin: 1050px auto 20px auto;
    font-size: 2.5em;
    position: relative;
    border-bottom: 1px solid #fff;
    width: 30%;
    padding-bottom: 0.5em;
	text-align: center;
	font-family: 'Crete Round', serif;
}
.team h3:before{
	content: '';
    background: #FFF;
    width: 35%;
    height: 5px;
    position: absolute;
    top: 94%;
    left: 33%;
}
/*-- team --*/
.team h3{
	color: #98B961;
    border-bottom: 1px solid #98B961;
    width: 35%;
}
.gallery h3,.testimonials h3{
	width: 22%;
	color: #98B961;
    border-bottom: 1px solid #98B961;
}
.team h3:before,.gallery h3:before,.testimonials h3:before{
    background: #98B961;
}
.team-grid{
	margin-bottom: 5em;
}
.team-grids{
	margin:5em 0;
}
.team-grid1{
	position:relative;
}

.team-grid1 img{
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.team-grid1 h4{
	margin:2em 0 0;
	color:#D19871;
	text-align:center;
	font-size:1.2em;
}
.team-grid1 h4 span{
	display:block;
	margin:.5em 0 0;
	color:#999;
	font-size:14px;
}
.team-grid1-pos{
	position: absolute;
    top: 22%;
    left: 18%;
    text-align: center;
    width: 70%;
	display:none;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.team-grid1-pos p{
	color:#fff;
	font-size:14px;
	line-height:1.8em;
	margin:0 0 2em;
}
.team-grid1-pos ul li{
	display:inline-block;
	margin
}
.team-grid1-pos ul li a.f1{
	background: url(../img/team/img-sp.png) no-repeat -8px -59px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-grid1-pos ul li a.f1:hover{
	background: url(../img/team/img-sp.png) no-repeat -73px -59px #fff;
    display: block;
}
.team-grid1-pos ul li a.f2{
	background: url(../img/team/img-sp.png) no-repeat -8px -110px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-grid1-pos ul li a.f2:hover{
	background: url(../img/team/img-sp.png) no-repeat -73px -110px #fff;
    display: block;
}
.team-grid1-pos ul li a.f3{
	background: url(../img/team/img-sp.png) no-repeat -8px -160px #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-grid1-pos ul li a.f3:hover{
	background: url(../img/team/img-sp.png) no-repeat -73px -160px #fff;
    display: block;
}
.team-grid:hover .team-grid1-pos{
	display:block;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.team-grid:hover .team-grid1 img{
	padding:.5em;
	border:1px dotted #000;
}
.team-bottom{
	padding: 0 2em;
}
.team-bottom-right1{
	position:relative;
}
.team-bottom-right1-pos{
	position:absolute;
	top:-98%;
	left:0%;
}
.team-bottom-right1-pos h2{
	font-size: 3em;
    letter-spacing: 2px;
	color:#D19871;
	margin:0;
	font-family: 'Permanent Marker', cursive;
	position:relative;
}
.team-bottom-right1-pos h2:after{
	content: '';
    background: #999;
    width: 40%;
    height: 1px;
    position: absolute;
    top:150%;
    left: 0%;
}
.team-bottom-right1-pos h2:before{
	content: '';
    background: #999;
    width: 25%;
    height: 1px;
    position: absolute;
    top: 130%;
    left: 0%;
}
.team-bottom-right1 h4{
	text-transform: capitalize;
    font-size: 2em;
    color: #999;
    margin: 1em 0 0;
    line-height: 1.8em;
}
.team-bottom-left img {
    margin: -5em 0 0;
    padding: 1em;
    background: #fff;
}
.team-bottom-right1-pos1{
	position: absolute;
    top: 125%;
    left: 0%;
    width:95%;
    padding: 2em;
    background: #fff;
}
.team-bottom-right1-pos1 p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}

/*-- //team --*/
/*-----start-responsive-design------*/
@media (max-width:1024px){
	.team{
		padding: 4em 0;
	}
	.team-bottom-right1-pos h2 {
		font-size: 2.5em;
	}
	.team-bottom-right1-pos {
		top: -55%;
	}
	.team-bottom-right1 h4 {
		font-size: 1.7em;
	}
	.team-grids {
		margin: 4em 0;
	}
}
@media (max-width:768px){
	.team h3{
		font-size: 2.2em;
	}
	.team-grid {
		float: left;
		width: 33.33%;
	}
	.team-grid1-pos p {
		font-size: 11px;
		margin: 0 0 1em;
	}
	.team-grid1-pos {
		top: 13%;
	}
	.team-grid1 h4 {
		margin: 1em 0 0;
	}
	.team-bottom-right {
		padding: 5em 2em 0;
	}
	.team-bottom-right1-pos {
		top: -90%;
	}
}
@media (max-width:640px){
	.team{
		padding: 3em 0;
	}
	.team h3{
		font-size: 2em;
	}
	.team h3 {
		width: 50%;
	}
	.team-grid1-pos ul {
		display: none;
	}
	.team-bottom-left img {
		padding: 0.5em;
	}
	.team-bottom-right1-pos h2 {
		font-size: 2em;
	}
	.team-bottom-right1 h4 {
		font-size: 1.5em;
		margin: 0.5em 0 0;
	}
	.team-bottom-right1-pos1 {
		padding: 1em;
	}
}
@media (max-width:480px){
	.team-grid {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.team-grid:nth-child(2) {
		margin: 2em auto;
	}
	.team-grid1-pos ul {
		display: block;
	}
	.team-grid1-pos p {
		font-size: 12px;
	}
	.team h3 {
		width: 60%;
	}
	.team-grids {
		margin: 3em 0;
	}
	.team-bottom-right1 h4 {
		font-size: 1.3em;
	}
	.team-bottom-right1-pos {
		top: -67%;
	}
}
@media (max-width: 414px){
	.team h3{
		font-size: 1.6em;
	}
	.team-grids {
		margin: 2em 0;
	}
	.team-grid {
		width: 70%;
	}
	.team-bottom-right1-pos h2 {
		font-size: 1.5em;
	}
	.team-bottom-right1 h4 {
		font-size: 1em;
	}
	.team-bottom-right1-pos1 p {
		font-size: 13px;
	}
	.team-bottom-right1-pos1 {
		width: 115%;
	}
}
@media (max-width:320px){
	.team h3:before{
		height: 2px;
	}
	.team h3{
		font-size: 1.5em;
		width: 40%;
	}
	.team h3 {
		width: 70% !important;
	}
	.team-grid {
		width: 95%;
	}
	.team-bottom {
		padding: 0;
	}
	.team-bottom-right1-pos h2 {
		font-size: 1.3em;
	}
	.team-bottom-right {
		padding: 4em 2em 0;
	}
}