body{
	margin:0;
}



@font-face {font-family: "iconfont";
  src: url('../iconfont/cus_ser_icon/iconfont.eot?t=1498799508523'); /* IE9*/
  src: url('../iconfont/cus_ser_icon/iconfont.eot?t=1498799508523#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/cus_ser_icon/iconfont.woff?t=1498799508523') format('woff'), /* chrome, firefox */
  url('../iconfont/cus_ser_icon/iconfont.ttf?t=1498799508523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/cus_ser_icon/iconfont.svg?t=1498799508523#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {font-family: "iconfont";
  src: url('../fonticon/iconfont.eot?t=1499138520231'); /* IE9*/
  src: url('../fonticon/iconfont.eot?t=1499138520231#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonticon/iconfont.woff?t=1499138520231') format('woff'), /* chrome, firefox */
  url('../fonticon/iconfont.ttf?t=1499138520231') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonticon/iconfont.svg?t=1499138520231#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "iconfont";
  src: url('./workbaricon/iconfont.eot?t=1499138520231'); /* IE9*/
  src: url('./workbaricon/iconfont.eot?t=1499138520231#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./workbaricon/iconfont.woff?t=1499138520231') format('woff'), /* chrome, firefox */
  url('./workbaricon/iconfont.ttf?t=1499138520231') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./workbaricon/iconfont.svg?t=1499138520231#iconfont') format('svg'); /* iOS 4.1- */
}

.chat:before { 
	content: "\e73c"; 
	margin-right: 10px;
}

.record:before { 
	content: "\e60b"; 
	margin-right: 10px;
}

.schedule:before { 
	content: "\e608"; 
	margin-right: 10px;
}

.set-questions:before { 
	content: "\e605"; 
	margin-right: 10px;
}

.add-questions:before { 
	content: "\e602"; 
	margin-right: 10px;
}



.topbar{
	background: rgb(255,255,255);
	z-index: 1;
	height: 82px;
	position: fixed;
	line-height: 82px;
	width: 100%;
	/*box-shadow: 1px 1px 5px #888888;*/
	top:0px;
	border-bottom: 1px solid #ddd;
}
.brand{
	background-image:url("../img/brand.jpg");
	padding-left: 60px;
	font-size: 30px;
	line-height: 82px;
	font-weight: bold;
	color:#566374;
	float: left;
	display: block;
	width: 30px;
	height: 100px;
	margin-left: 30px;
	margin-top: 5px;
	background-size: 100%;
	background-repeat: no-repeat;
}
/*.brand:after{
	content: ".";
	color:#ea9215;
}*/
.sidebar{
	position: fixed;
	z-index: 2;
	margin:0;
	background: #2b333e;
	height:100% ;
	width: 260px;
	left:0px;
	top:0px;
}
.sidebar-a{
	/*position: absolute;*/
	width: 255px;
	height: 58.4px;
	display: block;
	text-decoration: none;
	color:#aeb7a9;
	line-height: 58.4px;
	text-indent:50px;
	border-left: 5px solid rgb(43,51,62);
}
.chat{
		/*margin-top: 82px;*/
		/*border-left: 5px solid rgb(24,131,215);*/
		/*background: rgb(37,44,53);*/
}
.record{

}
.schedule{

}
.set-questions{

}
.add-questions{

}

.sidebar-a:hover{
	color: white;
}
/*.sidebar-scroll{

	background: #2b333e;
	width: 260px;
}*/
.sidebar-a:hover:before{
	color: rgb(0,170,255);
}
.chat{
	/*color: white;*/
}
.chat:before{
	/*color: rgb(0,170,255);*/
}
.cus-ser-pic{
	float: right;
	height: 100%;
	width: 180px;
	margin-right: 20px;
}
.cus-ser-name{
	float: right;
	font-size: 20px;
	margin-right: 38px;
}
.cus-ser-set{
	float: right;
}
.chat-white-back{
	background: white;
	position: absolute;
	top: 110px;
	left:300px;
	height: 630px;
	width: 1085px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.08);
	z-index: -1;
}
.cus-chat-entity{
	width: 1085px;
	height: 630px;
	/*background: red;*/
	/*margin-top: 30px;*/
	/*margin-left: 30px;*/
}
.cus-chat-side{
	height: 100%;
	width: 240px;
	background-color: rgb(46,50,56);
	float: left;
}
.cus-chat-right{
	width: 600px;
	height: 100%;
	float: left;
	background: rgb(238,238,238);
	border: 1px solid rgb(194,194,194);
}
.quick-reply{
	height:100%;
	width:240px;
	border: 1px solid rgb(194,194,194);
	background: rgb(238,238,238);
	float: left;
}
.cus-chat-custome{
	height: 60px;
	width: 100%;
	color: white;
	background-color: rgb(58,63,69);
	/*background: red;*/
}
.quick-reply-top{
	width: 100%;
	height: 45px;
	border-bottom: 1px solid rgb(194,194,194);
}
.quick-reply-top-1{
	width: 64px;
	height: 40px;
	margin-left:28px;
	margin-right: 28px; 
	/*background: blue;*/
	line-height: 60px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.quick-reply-top-2{
	width: 64px;
	height: 40px;
	margin-left:28px;
	margin-right: 28px; 
	border-bottom: 5px solid rgb(46,50,56);
	/*background: purple;*/
	line-height: 60px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.cus-chat-right-top{
	height: 60px;
	width: 570px;
	text-align: center;
	line-height: 60px;
	margin-left: 15px;
	margin-right: 15px;
	/*background: red;*/
	border-bottom: 2px solid rgb(204,204,204);
}
.cus-chat-right-record{
	width: 600px;
	height: 350px;
	border-bottom: 2px solid rgb(204,204,204);
}
.toolbar{
	height: 30px;
	width:100%;
	padding: 5px;
}
.toolbar:after{
/*	content: "\e600\e617\e61e\e604";
	font-size: 30px;*/
}
.expre{
	margin-top: -1px;
	font-size: 26px;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
/*.expre:after{
	content: "\e604";
}*/
.scrshot{
	margin-left: 6px;
	margin-top: 1px;
	font-size: 22px;
	float: left;
	cursor: pointer;
}
.scrshot:after{
	content: "\e617";
}
.toolphoto{
	font-size: 39px;
	float: left;
	margin-top: -8px;
	cursor: pointer;
}
.toolphoto:after{
	content: "\e61e";
}
.toolduc{
	font-size: 29px;
	float: left;
	margin-top: -5px;
	cursor: pointer;
}
.toolduc:after{
	content:"\e600";
}
.arrtime-white-back{
	position: absolute;
	left: 300px;
	top:110px;
	height: 620px;
	width: 1200px;
	background:white;
	z-index: -100; 
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.arrtime-menu{
	height: 35px;
	margin-top: 15px;
	line-height: 35px;
	font-size: 24px;
	text-indent: 260px;
}
.arrtime-select{
	height: 100%;
	width: 130px;
	float: left;
	margin-left: 30px;
}
.arrtime-pre{
	height: 100%;
	width: 80px;
	float: left;
	margin-left: 60px;
}
.arrtime-next{
	height: 100%;
	width: 80px;
	float: left;
	margin-left: 5px;
}
.arrtime-save{
	height: 100%;
	width: 80px;
	float: right;
	margin-right: 30px;
}
.arrtime-chart{
	margin-left: 30px;
	margin-top: 10px;
	width: 1140px;
	height: 550px;
}
td{
	height: 70px;
	text-align: center;
}
th{
	width: 140px;
}
td:hover{
}
.time-td:hover{
	background-color: white;
}
.cus-record-white-back{
	position: absolute;
	left: 300px;
	top:110px;
	height: 620px;
	width: 1200px;
	background:white;
	z-index: -100; 
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	overflow-x:scroll;
}
.record-time1{
	border-bottom: 1px solid rgb(190,190,190);
	height: 50px;
	line-height:50px;
	text-indent: 30px;
}
.record-entity{
	height: 50px;
	width: 130px;
	line-height:50px;
	text-indent: 30px;
	color: rgb(117,117,117);
	float: left;
}
.record-custome-name{
	height: 50px;
	line-height:50px;
	text-indent: 30px;
	color: rgb(117,117,117);
	float: left;
	margin-left: 30px;
}
.left-part{
	width: 599px;
	border-right: 1px solid rgb(190,190,190);
	height: 100%;
	float: left;
}
.record-check{
	float: right;
	margin-right: 30px;
	line-height: 50px;
	text-decoration: none;
}
.record-demo{
	width: 100%;
	height: 50px;
}
.right-part{
	width: 600px;
	height: 100%;
	float: left;
}
button{
	border: none;
	border-radius: 2px;
}
.arrtime-pre{
	color: white;
	background-color: rgb(0,170,255);
}
.arrtime-pre:active{
	background-color: rgb(32,77,116)
}
.arrtime-next{
	color: white;
	background-color: rgb(0,170,255);
}
.arrtime-next:active{
	background-color: rgb(32,77,116)
}
.cus-chat-input{
	width: 580px;
	height: 130px;
	resize:none;
	background-color: rgb(238,238,238);
	border: none;
	outline: none;
	font-size: 20px;
}
.cus-chat-send{
	float: right;
	width: 60px;
	height: 30px;
	margin-right: 20px;
	background-color: rgb(60,165,18);
	color: white;
	cursor: pointer;
}
.cus-chat-send:active{
	background-color: rgb(57,132,57);
}
.cus-workbar{
	float: right;
	height: 100%;
	width: 225px;
	margin-right: 10px;
}
.workbar-back{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
	width: 100%;
	height: 100%;
}
.cus-info-white-back{
	position: absolute;
	left: 300px;
	top:110px;
	height: 620px;
	width: 1200px;
	background:white;
	z-index: -100; 
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.cus-info-role{
	font-size: 16px;
	margin-left: 100px;
	margin-top: 60px;
}
.cus-info-job-number{
	font-size: 16px;
	margin-left: 60px;
	margin-top: 60px;
}
.cus-info-name{
	font-size: 16px;
	margin-left: 100px;
	margin-top: 60px;
}
.cus-info-call-number{
	font-size: 16px;
	margin-left: 100px;
	margin-top: 60px;
}
.cus-info-mailbox{
	font-size: 16px;
	margin-left: 100px;
	margin-top: 60px;
}
.cus-info-save{
	background-color: rgb(0,170,255);
	color: white;

}
.cus-info-save:active{
	background-color: rgb(0,160,240);
}
.workbar-top{
	height: 36px;
	padding:7px;
	background-color: black;
	position: fixed;
	top:0;
	width: 100%;
}
.workbar-left{
	width: 360px;
	height:100%;
	background-color: rgb();
	float: left;
	border-right: 1px solid #e0e8e8;

}
.workbar-right{
	width: 360px;
	float: right;
	background-color:rgb();
	height: 100%;
	border-left: 1px solid #e0e8e8;
}
.workbar-centern{

	position: absolute;
	left: 360px;
	right: 360px;
	height: 100%;
	/*background-color: blue;*/
	float: left;
}
.workbar-userinfo{
	width: 360px;
	height: 100px;
	border-bottom: 1px solid #e0e8e8;
}
.workbar-left-option{
	width:360px;
	height: 50px;
	border-bottom: 1px solid #e0e8e8;
}
.workbar-right-option{
	width: 360px;
	height: 50px;
	border-bottom: 1px solid #e0e8e8;
}
.workbar-right-option-son{
	width: 120px;
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.workbar-userinfo-name{
	float: left;
	width: 80px;
	margin-left: 5px;
}
.workbar-left-option-son{
	width: 120px;
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.kb:before{
	content: "\e60e";
	margin-right: 10px;
}
.workbar-right-option-entity{
	padding: 20px;
	/*background:red;*/
	height: 610px;
}
.user-info-entity-son{
	height: 50px;
	color: rgb(86,86,86);
	margin-left: 20px;
}
.workbar-left-option-entity{
	/*background: red;*/
	width: 360px;
	height: 555px;
}
.cur-dia-demo{
	cursor: pointer;
	border-left: 5px solid rgb(0,170,236);
	width: 355px;
	height:  90px;
	background: rgb(216,235,234);
	overflow: hidden;
	position: relative;
}
.cur-dia-pic-back{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	background: rgb(96,173,246);
	margin-top: 15px;
	margin-left: 20px;
	float: left;
}
.cur-dia-demo-name{
	float: left;
	color: #555556;
	margin-top: 15px;
	margin-left: 10px;
	font-size: 16px;
}
.cur-dia-demo-ip{
	margin-top: 45px;
	margin-left: 10px;
	color: #999999;
}
.workbar-cen-record{
	/*background: red;*/
	height: 530px;
	width: 100%;
	border-bottom: 1px solid rgb(200,200,200);
	background: #F7FAFA;
	text-align: center;
	overflow: auto;
}
.chat-icon{
	float: left;
	line-height: 20px;
	font-size: 20px;
	color: black;
	cursor: pointer;
}
.chat-icon:hover{
	color: black(100,100,100);
}
.expre:before{
	content: "\e604";
}
.photo:before{
	content: "\e61e";
	font-size: 28px;
}
.tail:before{
	content: "\e617";
	font-size: 17px;
}
.docu:before{
	content: "\e600";
	font-size: 22px;
	margin-left: 3px;
	line-height: 18px;
}
.tools{
	margin-top: 3px;
	display: block;
	height: 10px;
}
.workbar-input{
	resize: none;
	outline: none;
	border: none;
	display: block;
	padding: 10px;
	font-size: 18px;
	width: 780px;
	padding-top: 5px;
	height: 120px;
}
.workbar-sent-button{
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 80px;
	height: 30px;
	color: white;
	background: rgb(0,170,236);
	cursor: pointer;
}
.reply-son{
	background: rgb(235,235,235);
	height: 35px;
	line-height: 35px;
	color: black;
	border-bottom: 1px solid rgb(220,220,220);
	cursor: pointer;
	text-indent: 10px;
}
.reply-son-son{
	height: 35px;
	line-height: 35px;
	text-indent: 30px;
	color: rgb(80,80,80);
	border-bottom: 1px solid rgb(220,220,220);
	cursor: pointer;
}
.workbar-search-input{
	height: 26px;
	width: 100px;
	float: left;
	margin-left: 20px;
	/*border-radius: 5px;*/
}
.workbar-search-button{
	height: 32px;
	width: 80px;
	float: left;
	background: rgb(0,170,236);
	color:white;
}
.info-head-pic{
	margin-top: 60px;
	height: 110px;
	width: 290px;
	border:1px dashed black;
}
.upload-button{
	width: 90px;
	height: 30px;
	background: rgb(0,170,255); 
	color:white;
	margin-left: 110px;
	margin-top: 15px;
}
.info-person{
	margin-top: 180px;
}
.pc:before{
	content: "\e640";
	position: absolute;
	color: white;
	font-size: 30px;
	left: 35px;
	top:29px;
}
.ph:before{
	content: "\e687";
	position: absolute;
	color: white;
	font-size: 30px;
	left: 35px;
	top:29px;
}
.take-in-button{
	position: absolute;
	bottom:10px;
	right: 15px;
	width: 80px;
	height: 30px;
	color: white;
	background: rgb(0,170,236);
	cursor: pointer;
}
.incur-dia{
	background: rgb(242,242,247);
	border:none;
}
.workbar-his{
	font-size: 14px;
	color: #8b898f;
	cursor: pointer;
	margin: 10px 0 10px 0;
}
.workbar-time{
	font-size: 14px;
	color: #8b898f;
	cursor: pointer;
	margin: 20px 0 10px 0;
}
.chat-one{
	margin-left: 20px;
	position: relative;
	text-align: left;
	margin-top: 20px;
	display: none;
	/*margin-bottom:20px;*/
	/*overflow: hidden;*/
}
.chat-name{
	/*text-indent: -300px;*/
	font-size: 12px;
	color: #b6bebf;
	margin-bottom: 2px;
}
.left-entity{
	padding: 10px;
	height: 20px;
	color: #333;
	background: #e9f0ef;
	width: auto;
	display: inline;
	float: left;
	font-size: 14px;
	/*margin-right: 276px;*/
}
.left-entity:before{
	left: -12px;
    border-width: 0px 12px 12px 0px;
    position: absolute;
    top: 26px;
    border-style: solid;
    border-color: transparent #f0f0f0;
    content: "";
}
.chat-two{
	/*width: 100%;*/
	margin-right: 20px;
	position: relative;
	text-align: right;
	display: none;
	/*overflow: hidden;*/
}
.right-entity{
	padding: 10px;
	height: 20px;
	color: white;
	background: rgb(0,170,236);
	width: auto;
	display: inline;
	float: right;
	font-size: 14px;
	margin-top: 20px;
}
.right-entity:before{
	right: -12px;
    border-width: 0 0 12px 12px;
	width: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent rgb(0,170,236);
    content: "";
}
.left-entity-son{
	background: rgb(233,240,239);
}
.left-entity > div{
	line-height: 24px;
	color: rgb(0,170,236);
	cursor: pointer;
}
.sidebar-a{
	/*position: absolute;*/
	width: 255px;
	height: 58.4px;
	display: block;
	text-decoration: none;
	color:#aeb7a9;
	line-height: 58.4px;
	text-indent:50px;
	cursor: pointer;
	border-left: 5px solid rgb(43,51,62);
}
.sidebar-a-son{
	display:none;
	background: rgb(37,44,53);
	text-indent: 75px;
}

.sidebar-a:hover{
	color: white;
}
.kb:after{
	content: "\e60a";
	margin-left: 10px;
}
.workbar-cen-record > div:before{
/*	right: -20px;
    border-width: 0 0 12px 12px;
	width: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent rgb(0,170,236);
    content: "";*/
}
 